/* line 1, ../sass/_partials/_intro.scss */
#intro {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(/img/street-soccer-by-driftermanifesto.jpg) no-repeat scroll 0 0/100% content-box content-box;
  color: #FFF;
  padding: 10rem 0;
  text-align: center;
}
/* line 10, ../sass/_partials/_intro.scss */
#intro h1 {
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 0;
}
/* line 15, ../sass/_partials/_intro.scss */
#intro h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0;
}
/* line 23, ../sass/_partials/_intro.scss */
#intro #download,
#intro #newsletter,
#intro #social {
  display: inline-block;
  margin: 0 0 3rem;
  padding: 0;
  width: 30%;
}
/* line 29, ../sass/_partials/_intro.scss */
#intro #download i,
#intro #newsletter i,
#intro #social i {
  display: block;
  font-size: 3rem;
  transition: all 0.5s ease;
}
/* line 34, ../sass/_partials/_intro.scss */
#intro #download i:hover,
#intro #newsletter i:hover,
#intro #social i:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
/* line 40, ../sass/_partials/_intro.scss */
#intro #download a,
#intro #newsletter a,
#intro #social a {
  color: #FFF;
}
/* line 48, ../sass/_partials/_intro.scss */
#intro #download a {
  display: inline-block;
  max-width: 11em;
  text-decoration: none;
}
/* line 53, ../sass/_partials/_intro.scss */
#intro #download a small {
  display: block;
  font-size: 0.7em;
}
/* line 62, ../sass/_partials/_intro.scss */
#intro #newsletter label {
  display: block;
}
/* line 66, ../sass/_partials/_intro.scss */
#intro #newsletter input, #intro #newsletter button {
  border: none;
  display: inline-block;
  font-family: Avenir, Helvetica, sans-serif;
  padding: 0.75em;
}
/* line 73, ../sass/_partials/_intro.scss */
#intro #newsletter input {
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
}
/* line 77, ../sass/_partials/_intro.scss */
#intro #newsletter button {
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
}
/* line 84, ../sass/_partials/_intro.scss */
#intro #next {
  clear: left;
  display: block;
}

/* line 6, ../sass/_partials/_timeline.scss */
.timeline {
  margin: 0 auto;
  max-width: 700px;
  overflow: hidden;
  height: auto;
  position: relative;
  padding: 0;
  list-style-type: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);
  background-repeat: repeat-y;
  background-position: 50% 0;
  /* 
    elements 1,(2),3,(4), etc.
    elements in brackets inherit these properties, some are overridden below (2n)
    beginning at 0
  */
  /*v2*/
}
/* line 19, ../sass/_partials/_timeline.scss */
.timeline ul, .timeline ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 25, ../sass/_partials/_timeline.scss */
.timeline *, .timeline *:after, .timeline:after, .timeline *:before, .timeline:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 27, ../sass/_partials/_timeline.scss */
.timeline .year {
  background: rgba(255, 255, 255, 0.2);
  font-size: 2em;
  max-width: 6em;
  clear: both;
  margin: 1em auto;
  color: white;
  border-radius: 50%;
  text-align: center;
  margin-top: 50px;
  /*
    thanks to Lukas Knuth ( https://github.com/christian-fei/Timeline.css/issues/1 )
  */
}
/* line 38, ../sass/_partials/_timeline.scss */
.timeline .year:first-of-type {
  margin-top: 0 !important;
}
/* line 45, ../sass/_partials/_timeline.scss */
.timeline .year + .event {
  margin-top: -1.5em;
}
/* line 55, ../sass/_partials/_timeline.scss */
.timeline .event {
  position: relative;
  text-align: center;
  float: right;
  clear: right;
  width: 45%;
  margin: 10px 2.5%;
  list-style-type: none;
  display: block;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.8);
  z-index: 15;
  color: #4d4d4d;
  text-decoration: none;
  -webkit-transition: background .15s linear;
  -moz-transition: background .15s linear;
  -ms-transition: background .15s linear;
  -o-transition: background .15s linear;
  transition: background .15s linear;
}
/* line 79, ../sass/_partials/_timeline.scss */
.timeline .event.featured {
  width: 95% !important;
}
/* line 81, ../sass/_partials/_timeline.scss */
.timeline .event.featured:after, .timeline .event.featured:before {
  display: none;
}
@media all and (max-width: 600px) {
  /* line 55, ../sass/_partials/_timeline.scss */
  .timeline .event {
    width: 85%;
  }
}
/* line 90, ../sass/_partials/_timeline.scss */
.timeline .event.offset-first {
  margin-top: -1.5em;
}
/* line 94, ../sass/_partials/_timeline.scss */
.timeline .event img {
  margin-top: 10px;
  max-width: 100%;
}
/* line 99, ../sass/_partials/_timeline.scss */
.timeline .event:hover {
  background: white;
}
/* line 102, ../sass/_partials/_timeline.scss */
.timeline .event:hover:after {
  background: white;
}
/* line 107, ../sass/_partials/_timeline.scss */
.timeline .event:nth-of-type(2n) {
  float: left;
  clear: left;
}
/* line 110, ../sass/_partials/_timeline.scss */
.timeline .event:nth-of-type(2n):after {
  right: -5%;
  /* reset the standard declaration I defined before*/
  left: auto;
}
@media all and (min-width: 650px) {
  /* line 117, ../sass/_partials/_timeline.scss */
  .timeline .event:after {
    display: block;
    content: ' ';
    height: 9px;
    width: 9px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: -5%;
    top: 1.5em;
    border: 2px solid white;
  }
}
/* line 132, ../sass/_partials/_timeline.scss */
.timeline time {
  display: block;
  font-weight: bold;
}
/* line 141, ../sass/_partials/_timeline.scss */
.timeline.v2 .year {
  background: white;
  color: white;
  border: 2px solid white;
}
/* line 147, ../sass/_partials/_timeline.scss */
.timeline.v2 .event {
  border: none;
  background: #FAFAFA;
  border-bottom: 1px solid #cac4c4;
}

/* line 6, ../sass/_partials/_footer.scss */
footer {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  padding: 5rem;
  text-align: center;
}
/* line 13, ../sass/_partials/_footer.scss */
footer a {
  color: rgba(0, 0, 0, 0.7);
}

/* line 9, ../sass/brasilia.scss */
body {
  background: #98c83d;
  color: white;
  font-family: Avenir, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
