/* line 40, ../sass/_partials/_teams.scss */
.australia {
  background: #e6b862;
  color: #446351;
}

/* line 40, ../sass/_partials/_teams.scss */
.algeria {
  background: white;
  color: #50bb75;
}

/* line 40, ../sass/_partials/_teams.scss */
.argentina {
  background: #218f76;
  color: white;
}

/* line 40, ../sass/_partials/_teams.scss */
.belgium {
  background: #9e1e2d;
  color: #cdb918;
}

/* line 40, ../sass/_partials/_teams.scss */
.bosnia {
  background: white;
  color: #211674;
}

/* line 40, ../sass/_partials/_teams.scss */
.brazil {
  background: #f8c128;
  color: #00843e;
}

/* line 40, ../sass/_partials/_teams.scss */
.cameroon {
  background: #025e39;
  color: #d8d413;
}

/* line 40, ../sass/_partials/_teams.scss */
.chile {
  background: #f93b2b;
  color: #1140a8;
}

/* line 40, ../sass/_partials/_teams.scss */
.colombia {
  background: #e3d007;
  color: #2c3441;
}

/* line 40, ../sass/_partials/_teams.scss */
.costa-rica {
  background: #c30e1f;
  color: #1b4b8d;
}

/* line 40, ../sass/_partials/_teams.scss */
.croatia {
  background: #9c0317;
  color: white;
}

/* line 40, ../sass/_partials/_teams.scss */
.ecuador {
  background: #eae36e;
  color: #263570;
}

/* line 40, ../sass/_partials/_teams.scss */
.england {
  background: white;
  color: #cd0102;
}

/* line 40, ../sass/_partials/_teams.scss */
.france {
  background: #272a3b;
  color: white;
}

/* line 40, ../sass/_partials/_teams.scss */
.germany {
  background: white;
  color: #3c3233;
}

/* line 40, ../sass/_partials/_teams.scss */
.ghana {
  background: white;
  color: #b01a26;
}

/* line 40, ../sass/_partials/_teams.scss */
.greece {
  background: white;
  color: #003c7a;
}

/* line 40, ../sass/_partials/_teams.scss */
.honduras {
  background: white;
  color: #2a2859;
}

/* line 40, ../sass/_partials/_teams.scss */
.iran {
  background: white;
  color: #c01315;
}

/* line 40, ../sass/_partials/_teams.scss */
.italy {
  background: #2c49ad;
  color: white;
}

/* line 40, ../sass/_partials/_teams.scss */
.ivory-coast {
  background: #d49d28;
  color: #218f76;
}

/* line 40, ../sass/_partials/_teams.scss */
.japan {
  background: #243078;
  color: white;
}

/* line 40, ../sass/_partials/_teams.scss */
.mexico {
  background: #1d543f;
  color: #c70609;
}

/* line 40, ../sass/_partials/_teams.scss */
.netherlands {
  background: #f96607;
  color: white;
}

/* line 40, ../sass/_partials/_teams.scss */
.nigeria {
  background: #61a540;
  color: #215435;
}

/* line 40, ../sass/_partials/_teams.scss */
.portugal {
  background: #d13934;
  color: #094b27;
}

/* line 40, ../sass/_partials/_teams.scss */
.russia {
  background: #9e1725;
  color: #f4eeca;
}

/* line 40, ../sass/_partials/_teams.scss */
.south-korea {
  background: #dc302e;
  color: #30348d;
}

/* line 40, ../sass/_partials/_teams.scss */
.spain {
  background: #c7001c;
  color: #e0c49d;
}

/* line 40, ../sass/_partials/_teams.scss */
.switzerland {
  background: #aa1626;
  color: white;
}

/* line 40, ../sass/_partials/_teams.scss */
.uruguay {
  background: #7691be;
  color: #b2a264;
}

/* line 40, ../sass/_partials/_teams.scss */
.usa {
  background: white;
  color: #ec3d42;
}

@-webkit-keyframes countdown {
  /* line 6, ../sass/_partials/_intro.scss */
  0% {
    opacity: 1;
  }

  /* line 7, ../sass/_partials/_intro.scss */
  100% {
    opacity: 0.7;
  }
}

@keyframes countdown {
  /* line 10, ../sass/_partials/_intro.scss */
  0% {
    opacity: 1;
  }

  /* line 11, ../sass/_partials/_intro.scss */
  100% {
    opacity: 0.7;
  }
}

/* line 14, ../sass/_partials/_intro.scss */
#intro {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), url(/img/street-soccer-by-driftermanifesto.jpg) no-repeat fixed 50% 0/cover;
  color: #FFF;
  padding: 10rem 0;
  text-align: center;
  /* iPhone 4 - 960 × 640 */
}
/* line 23, ../sass/_partials/_intro.scss */
#intro h1, #intro h2 {
  margin: 0 auto;
}
/* line 26, ../sass/_partials/_intro.scss */
#intro h1 {
  font-family: 'Ruge Boogie', cursive;
  font-size: 4rem;
  font-weight: bold;
  line-height: 0.9;
  margin-bottom: 0;
  width: 26rem;
}
/* line 34, ../sass/_partials/_intro.scss */
#intro h1 a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
}
/* line 38, ../sass/_partials/_intro.scss */
#intro h1 a:hover {
  opacity: 0.8;
}
/* line 44, ../sass/_partials/_intro.scss */
#intro h2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 4rem auto 5rem;
  width: 30rem;
}
/* line 53, ../sass/_partials/_intro.scss */
#intro #download,
#intro #newsletter,
#intro #social {
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0 0 3rem;
  height: 9rem;
  padding: 1rem 0;
  transition: all 0.5s ease;
  vertical-align: top;
  width: 30%;
}
/* line 63, ../sass/_partials/_intro.scss */
#intro #download i,
#intro #newsletter i,
#intro #social i {
  display: block;
  font-size: 3rem;
}
/* line 72, ../sass/_partials/_intro.scss */
#intro #download a {
  display: inline-block;
  max-width: 11em;
  text-decoration: none;
}
/* line 77, ../sass/_partials/_intro.scss */
#intro #download a small {
  display: block;
  font-size: 0.7em;
  margin-top: 0.3rem;
}
/* line 87, ../sass/_partials/_intro.scss */
#intro #newsletter label {
  display: block;
}
/* line 90, ../sass/_partials/_intro.scss */
#intro #newsletter label span {
  display: block;
  padding-bottom: 0.65rem;
}
/* line 96, ../sass/_partials/_intro.scss */
#intro #newsletter input, #intro #newsletter button {
  border: none;
  display: inline-block;
  font-family: Avenir, Helvetica, sans-serif;
}
/* line 102, ../sass/_partials/_intro.scss */
#intro #newsletter input {
  background: rgba(255, 255, 255, 0.8);
  color: rgba(0, 0, 0, 0.8);
  padding: 0.75em;
}
/* line 107, ../sass/_partials/_intro.scss */
#intro #newsletter input:focus, #intro #newsletter input:hover {
  background: white;
}
/* line 111, ../sass/_partials/_intro.scss */
#intro #newsletter button {
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.8);
  padding: 0.80em;
}
/* line 116, ../sass/_partials/_intro.scss */
#intro #newsletter button:focus, #intro #newsletter button:hover {
  background: black;
}
/* line 125, ../sass/_partials/_intro.scss */
#intro #social ul {
  display: inline-block;
  list-style: none;
  margin: 0 0 2rem;
  padding: 0;
  width: 90%;
  vertical-align: top;
}
/* line 133, ../sass/_partials/_intro.scss */
#intro #social ul li {
  display: inline-block;
  margin: 0.75rem 2% 0 0;
  padding: 0;
  width: 30%;
  /*
          &.facebook a {
            background: rgba($facebook, 0.8);
            
            &:hover {
              background: rgba($facebook, 1);
            }
          }
          &.twitter a {
            background: rgba($twitter, 0.8);
            
            &:hover {
              background: rgba($twitter, 1);
            }
          }
          &.google a {
            background: rgba($google, 0.8);
            
            &:hover {
              background: rgba($google, 1);
            }
  
          }
  */
}
/* line 139, ../sass/_partials/_intro.scss */
#intro #social ul li:last-child {
  margin-right: 0;
}
/* line 143, ../sass/_partials/_intro.scss */
#intro #social ul li a {
  display: inline-block;
  /*
            background: rgba(#000,0.8);
            color: #FFF;
            padding: 0.3rem;
            text-align: center;
  */
}
/* line 182, ../sass/_partials/_intro.scss */
#intro #next {
  clear: left;
  display: block;
  margin: 0 0 3rem;
  overflow: hidden;
}
/* line 188, ../sass/_partials/_intro.scss */
#intro #next h2 {
  letter-spacing: 1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
/* line 197, ../sass/_partials/_intro.scss */
#intro #next p {
  float: left;
  margin: 0;
  padding: 0;
  width: 48%;
}
/* line 203, ../sass/_partials/_intro.scss */
#intro #next p span {
  display: inline-block;
  font-size: 1rem;
  line-height: 0.8;
  margin: 0;
  padding: 0;
  width: 4.5rem;
}
/* line 212, ../sass/_partials/_intro.scss */
#intro #next p strong {
  display: block;
  font-size: 3rem;
  padding: 1rem 0 0;
  vertical-align: top;
}
/* line 220, ../sass/_partials/_intro.scss */
#intro #next .countdown {
  margin-right: 1%;
  text-align: right;
}
/* line 224, ../sass/_partials/_intro.scss */
#intro #next .countdown strong {
  animation: countdown 1s infinite;
  -webkit-animation: countdown 1s infinite;
}
/* line 230, ../sass/_partials/_intro.scss */
#intro #next .details {
  margin-left: 1%;
  text-align: left;
}
/* line 234, ../sass/_partials/_intro.scss */
#intro #next .details span {
  display: block;
  line-height: 0.8;
  width: auto;
}
@media only screen and (max-width: 900px) {
  /* line 246, ../sass/_partials/_intro.scss */
  #intro #intro {
    padding: 4rem 0;
  }
  /* line 249, ../sass/_partials/_intro.scss */
  #intro h1 {
    font-size: 2rem;
  }
  /* line 252, ../sass/_partials/_intro.scss */
  #intro h2 {
    font-size: 1rem;
    max-width: 90%;
  }
  /* line 260, ../sass/_partials/_intro.scss */
  #intro #download,
  #intro #newsletter,
  #intro #social,
  #intro #next {
    display: block;
    height: auto;
    margin: 0;
    padding: 0.5rem 0 0;
    width: 100%;
    text-align: left;
  }
  /* line 268, ../sass/_partials/_intro.scss */
  #intro #download i,
  #intro #newsletter i,
  #intro #social i,
  #intro #next i {
    display: inline-block;
    width: 2rem;
    margin: 0 2rem 0 1.5rem;
  }
  /* line 278, ../sass/_partials/_intro.scss */
  #intro #download a {
    display: block;
    max-width: 100%;
  }
  /* line 282, ../sass/_partials/_intro.scss */
  #intro #download a span {
    display: inline-block;
    margin: 0.45rem 0;
    width: auto;
    vertical-align: top;
  }
  /* line 293, ../sass/_partials/_intro.scss */
  #intro #newsletter label {
    display: block;
    max-width: 100%;
  }
  /* line 297, ../sass/_partials/_intro.scss */
  #intro #newsletter label span {
    display: none;
  }
  /* line 301, ../sass/_partials/_intro.scss */
  #intro #newsletter label input, #intro #newsletter label button {
    display: inline-block;
    margin: 0.45rem 0;
    width: auto;
    vertical-align: top;
  }
  /* line 312, ../sass/_partials/_intro.scss */
  #intro #social span {
    display: none;
  }
  /* line 320, ../sass/_partials/_intro.scss */
  #intro #next p {
    display: inline-block;
    width: 70%;
  }
  /* line 324, ../sass/_partials/_intro.scss */
  #intro #next p > span {
    display: none;
  }
  /* line 330, ../sass/_partials/_intro.scss */
  #intro #next p strong span {
    width: 3rem;
    font-size: 0.8rem;
  }
  /* line 334, ../sass/_partials/_intro.scss */
  #intro #next p strong span em {
    font-size: 2rem;
  }
  /* line 340, ../sass/_partials/_intro.scss */
  #intro #next p.details {
    margin-left: 20%;
  }
  /* line 343, ../sass/_partials/_intro.scss */
  #intro #next p.details .span {
    display: block;
    font-size: 1.5rem;
  }
}

/* line 353, ../sass/_partials/_intro.scss */
.ad {
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
  margin: 1rem;
  padding: 1rem;
}

/* line 1, ../sass/_partials/_stories.scss */
.date {
  background: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.8);
  clear: both;
  padding: 1rem;
  margin: 0;
  text-align: center;
}
/* line 9, ../sass/_partials/_stories.scss */
.date a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
/* line 13, ../sass/_partials/_stories.scss */
.date a:hover, .date a:focus {
  color: white;
}

/* line 19, ../sass/_partials/_stories.scss */
.event {
  opacity: 0.9;
  position: relative;
  transition: all 0.1s ease;
}
/* line 25, ../sass/_partials/_stories.scss */
.event:hover {
  opacity: 1;
}
/* line 29, ../sass/_partials/_stories.scss */
.event h3 {
  margin: 0;
  padding: 0;
}
/* line 33, ../sass/_partials/_stories.scss */
.event h3 .team {
  display: inline-block;
  margin: 0;
  padding: 5rem 0;
  text-align: center;
  text-decoration: none;
  width: 50%;
}
/* line 41, ../sass/_partials/_stories.scss */
.event h3 .team:hover, .event h3 .team:focus {
  color: inherit;
}
/* line 46, ../sass/_partials/_stories.scss */
.event h3 .vs {
  display: none;
}
/* line 52, ../sass/_partials/_stories.scss */
.event .detail {
  font-size: 0.75rem;
  left: 0;
  margin: 0.75rem;
  padding: 0.75rem 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  top: 0;
  z-index: 20;
}
/* line 65, ../sass/_partials/_stories.scss */
.event .detail span {
  display: inline-block;
  margin: 0;
  max-width: 14rem;
  width: 25%;
}
/* line 71, ../sass/_partials/_stories.scss */
.event .detail span:first-child {
  text-align: left;
}
/* line 75, ../sass/_partials/_stories.scss */
.event .detail span:nth-child(2) {
  text-align: center;
  width: 35%;
}
/* line 80, ../sass/_partials/_stories.scss */
.event .detail span:last-child {
  text-align: right;
}
/* line 84, ../sass/_partials/_stories.scss */
.event .detail span a {
  text-decoration: none;
}
/* line 90, ../sass/_partials/_stories.scss */
.event .actions {
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 1rem 0;
  text-align: center;
  z-index: 30;
}
/* line 102, ../sass/_partials/_stories.scss */
.event .actions a {
  border: 2px solid rgba(255, 255, 255, 0.9);
  color: rgba(255, 255, 255, 0.9);
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0 0.4rem 0 0;
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition: all 0.1s ease;
}
/* line 113, ../sass/_partials/_stories.scss */
.event .actions a:hover {
  background: #FFF;
  border: 2px solid #FFF;
  color: #333;
}
/* line 119, ../sass/_partials/_stories.scss */
.event .actions a:last-child {
  margin: 0;
}

/* line 6, ../sass/_partials/_footer.scss */
footer {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  padding: 5rem;
  text-align: center;
}
/* line 13, ../sass/_partials/_footer.scss */
footer a {
  color: rgba(0, 0, 0, 0.7);
}

/* line 10, ../sass/brasilia.scss */
body {
  background: #98c83d;
  color: white;
  font-family: Avenir, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/brasilia.scss */
a {
  color: rgba(255, 255, 255, 0.9);
}
/* line 21, ../sass/brasilia.scss */
a:hover, a:focus {
  color: white;
}
