@import "_partials/intro";
@import "_partials/timeline";
@import "_partials/footer";

$color-background: #98c83d;
$color-font: #FFF;


body {
  background: $color-background;
  color: $color-font;
  font-family: Avenir, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

