<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /


  RewriteRule ^([a-zA-Z]+)-([0-9]+).rss  /rss.php?team=$1&before=+$2+days [L]
  RewriteRule ^([a-zA-Z]+).rss  /rss.php?team=$1&before=+1+days [L]

  RewriteRule ^index\.php$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.php [L]
  

</IfModule>
