$color-footer-background: #000;
$color-footer-text: #000;
$opacity-footer-text: 0.5;
$opacity-footer-link: 0.7;

footer {
  background: rgba($color-footer-background, 0.1);
  color: rgba($color-footer-text, $opacity-footer-text);
  font-size: 0.8em;
  padding: 5rem;
  text-align: center;
  
  a {
    color: rgba($color-footer-text, $opacity-footer-link);
  }
}