#intro {
  background: linear-gradient(
      rgba(0,0,0,0.4), 
      rgba(0,0,0,0.3)
    ), url(/img/street-soccer-by-driftermanifesto.jpg) no-repeat fixed 50% 0 / cover;
  color: #FFF;
  padding: 10rem 0;
  text-align: center;

  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
    
    a {
      text-decoration: none;
    }
  }
  h2 {
    font-size: 1.6rem;
    font-weight: normal;
    margin: 0 0 5rem;
  }

  #download, 
  #newsletter, 
  #social {
    display: inline-block;
    margin: 0 0 3rem;
    padding: 0;
    width: 30%;
    
    i {
      display: block;
      font-size: 3rem;
      transition: all 0.5s ease;
      
      &:hover {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
      }
    }

    a {
      color: #FFF;
    }
    
  }
  
  #download {

    a {
      display: inline-block;
      max-width: 11em;
      text-decoration: none;

      small {
        display: block;
        font-size: 0.7em;
      }
    }
  }
  
  #newsletter {
    
    label {
      display: block;
    }
    
    input, button {
      border: none;
      display: inline-block;
      font-family: Avenir, Helvetica, sans-serif;
      padding: 0.75em;
    }
    
    input {
      background: rgba(#FFF,0.8);
      color: rgba(#000,0.8);
    }
    button {
      background: rgba(#000,0.8);
      color: rgba(#FFF,0.8);
    }
    
  }
  
  #next {
    clear: left;
    display: block;
    margin: 0 0 3rem;
    
    p {
      margin: 0;
      padding: 0;
    }

    i,
    strong {
      display: block;
      font-size: 3rem;
    }
    
    strong {

      font-weight: normal;
      padding: 1rem 0 0;
      
      span {
        display: inline-block;
        font-size: 1rem;
        line-height: 0.8;
        margin: 0;
        padding: 0;
        width: 4rem;
        
        em {
          font-size: 3rem;
          font-style: normal;
          font-weight: bold;
        }
        
      }
    }
    
    .details {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  }

}

.ad {
  background: rgba(#000,0.9);
  color: rgba(#FFF,0.7);
  font-size: 0.8rem;
  margin: 1rem;
  padding: 1rem;
}