.date {
  background: rgba(#000,0.9);
  color: rgba(#FFF,0.8);
  clear: both;
  padding: 1rem;
  margin: 0;
  text-align: center;
  
  a {
    color: rgba(#FFF,0.8);
    text-decoration: none;
    
    &:hover, &:focus {
      color: rgba(#FFF,1);
    }
  }
}

.event {

  opacity: 0.9;
  position: relative;
  transition: all 0.1s ease;
  
  &:hover {
    opacity: 1;
  }

  h3 {
    margin: 0;
    padding: 0;

    .team {
      display: inline-block;
      margin: 0;
      padding: 4rem 0 6rem;
      position: relative;
      text-align: center;
      text-decoration: none;
      transition: all 0.5s ease;
      width: 50%;

      &:hover, &:focus {
        color: inherit;
      }

    }


    .no-teams {
      background: rgba(#FFF,0.5);
      display: inline-block;
      margin: 0;
      padding: 5rem 0;
      text-align: center;
      text-decoration: none;
      width: 100%;
    }
    
    .vs {
      display: none;
    }
    
  }
  
  .detail {
    background: rgba(#000, 0.2);
    font-size: 0.75rem;
    left: 0;
    margin: 0;
    padding: 0.75rem;
    position: absolute;
    right: 0;
    text-align: center;
    text-transform: uppercase;
    bottom: 0;
    z-index: 20;
    transition: all 0.5s ease;

    @media only screen and (max-width: 900px) {
      padding: 0.5rem 0 0;
    }
    
    &:hover {
      background: rgba(#000, 0.5);
      padding: 1.5rem 0;

      @media only screen and (max-width: 900px) {
        padding: 0.5rem 0 0;
      }
    
    }
    
    span,
    .action {
      display: inline-block;
      margin: 0;
      max-width: 14rem;
      text-align: center;
      width: 25%;
      
      a {
        text-decoration: none;
      }
    }
    
    .action {
      background: rgba(#FFF,0.8);
      color: #000;
      padding: 0.75rem 0;
      margin: -0.75rem 0;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.3s ease;
      
      &:hover {
        background: rgba(#FFF,1);
      }
      
      @media only screen and (max-width: 900px) {
        
        display: block;
        margin: 0.75rem 0 0;
        max-width: none;
        width: 100%;

      }

    }
    
  }
  
  .actions {
  
    background: linear-gradient( rgba(#000, 0) 0%, rgba(#000, 0.3) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding: 1rem 0;
    text-align: center;
    z-index: 30;

    a {
      border: 2px solid rgba(#FFF,0.9);
      color: rgba(#FFF,0.9);
      display: inline-block;
      font-size: 0.75rem;
      font-weight: bold;
      margin: 0 0.4rem 0 0;
      padding: 0.75rem 1rem;
      text-decoration: none;
      transition: all 0.1s ease;
      
      &:hover {
        background: #FFF;
        border: 2px solid #FFF;
        color: #333;
      }
      
      &:last-child {
        margin: 0;
      }
    }
    
  }
}