$text-color: rgb(77, 77, 77);
$bg-entry: rgb(255,255,255);


//v1
.timeline {
  margin: 0 auto;
  max-width: 700px;
  overflow:hidden;
  height: auto;
  position: relative;
  padding: 0;
  list-style-type:none;
  
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEElEQVQIW2NMTEz8z8gABAAPKwIlXWq1kgAAAABJRU5ErkJggg==);
  background-repeat:repeat-y;
  background-position:50% 0;
  
  ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  *,*:after,&:after,*:before,&:before{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

  .year {
    background: rgba($text-color,0.9);
    border-radius: 50%;
    clear: both; 
    color: $bg-entry;
    font-size: 1.3em;
    height: 4.5em;
    line-height: 0.9;
    margin: 50px auto 1em;
    width: 4.5em;
    padding: 1em; 
    text-align: center;
    
    &:first-of-type {
      margin-top: 0 !important;
    }
  
    /*
      thanks to Lukas Knuth ( https://github.com/christian-fei/Timeline.css/issues/1 )
    */
    & + .event{
      margin-top: -1.5em;
    }
  }
  
  /* 
    elements 1,(2),3,(4), etc.
    elements in brackets inherit these properties, some are overridden below (2n)
    beginning at 0
  */
  .event {
    position:relative;
    text-align:center;
    float: right;
    clear: right; 
    width: 45%;
    margin: 10px 2.5%;
    
    
    list-style-type: none;
    display: block;
    padding: 2rem 0;
    background: rgba($bg-entry,0.8);
    z-index: 15;
    
    color: $text-color;
    text-decoration: none;

    -webkit-transition: background .15s linear;
    -moz-transition: background .15s linear;
    -ms-transition: background .15s linear;
    -o-transition: background .15s linear;
    transition: background .15s linear;
    
    &.featured {
      width: 95% !important;
      &:after, &:before {
        display: none;
      }
    }
    
    @media all and (max-width: 600px) {
      width: 85%;
    }    
    
    &.offset-first {
       margin-top: -1.5em;
    }
    
    h2 {
      font-size: 1rem;
      
      .team {
        display: inline-block;
        font-size: 1.7rem;
        width: 46%;
        
        &:first-child {
          text-align: right;
        }
  
        &:last-child {
          text-align: left;
        }
      }
    }
    
    img {
      margin-top: 10px;
      max-width: 100%;
    }

    &:hover {
      background: rgba($bg-entry,1);

      &:after {
        background: $bg-entry;
      }
    }
    
    &:nth-of-type(2n) {
      float: left;
      clear: left;
      &:after {
        right: -5%;
        /* reset the standard declaration I defined before*/
        left: auto;
      }
    }
      
    &:after {      
      @media all and (min-width: 650px) {
        display: block;
        content: ' ';
        height: 9px; width: 9px;
        background: lighten($bg-entry,30%);
        border-radius: 50%;
        position:absolute;
        left: -5%;
        top: 1.5em;
        border: 2px solid white;
      }
    }
  }

  time{
    display: block;font-weight: bold;
  }




  /*v2*/
  &.v2{
    .year{
      background:white;
      color:$bg-entry;
      border:2px solid $bg-entry;
    }

    .event{
      border:none;
      background:#FAFAFA;
      border-bottom:1px solid darken(#E2DFDF,10%);
    }
  }
}         