/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
body {
  background: #33CC33;
  font-family: Arial, sans-serif;
  font-size: 19px;
  margin: 0;
  padding: 0;
}

/* line 19, ../sass/screen.scss */
.container {
  width: 480px;
  margin: 0 auto;
}

/* line 24, ../sass/screen.scss */
h1 {
  font-size: 1.8em;
  font-weight: 200;
  text-transform: uppercase;
}

/* line 30, ../sass/screen.scss */
.match {
  background: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
/* line 36, ../sass/screen.scss */
.match .summary {
  padding: 10px;
  width: 360px;
  float: left;
}
/* line 42, ../sass/screen.scss */
.match .meta {
  clear: left;
  font-size: 0.75em;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
/* line 51, ../sass/screen.scss */
.match .dtstart,
.match .location,
.match .group {
  display: inline-block;
  float: left;
  padding: 10px;
  width: 120px;
}
/* line 57, ../sass/screen.scss */
.match .dtstart {
  background: rgba(0, 0, 0, 0.2);
  width: 7em;
}
/* line 61, ../sass/screen.scss */
.match .location {
  background: rgba(0, 0, 0, 0.1);
  width: 8em;
}
/* line 66, ../sass/screen.scss */
.match .options {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
}
/* line 72, ../sass/screen.scss */
.match .options li {
  padding: 0;
  margin: 0;
}
/* line 76, ../sass/screen.scss */
.match .options li a {
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  padding: 7px;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  -moz-transition: all 1s ease;
}
/* line 88, ../sass/screen.scss */
.match .options li a:hover {
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
}
